@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using ECommerce.App.Models
@model RegisterUser
@{
    <div> @ViewBag.User</div>
    <div>  Hello  @Model.Name </div>
    <div>   @Model.Password </div>
   
    <div>  Hello  @Model.Address </div>
    <div>   @Model.ContactNumber </div>
    <div>  Hello  @Model.Age </div>
    <div>   @Model.DOB </div>
}
