@model SignUpViewModel

<div class="card row">

    <div class="card-header">
       Register
    </div>
    <div class="card-body">
         
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Age</label>
                <input type="number" class="form-control" id="inputAge">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>

            <div class="col-md-2">
                <label for="inputPostCode" class="form-label">PostCode</label>
                <input type="text" class="form-control" id="inputPostCode">
            </div>

            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
           
            
            <div class="col-md-4">
                <label for="inputCity" class="form-label">City</label>
                
                <select id="inputCity"class="form-select">
                    <option selected>Choose...</option>
                    @foreach(var district in Model.City)
                    {
                        <option itemid="@district.CityID">@district.CityName</option>
                    }

                </select>
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
              
                <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    @foreach (var state in Model.State)
                    {
                        <option itemid="@state.StateID">@state.StateName</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputDistrict" class="form-label">District</label>
                
                <select id="inputDistrict" class="form-select">
                    <option selected>Choose...</option>
                    @foreach (var state in Model.District)
                    {
                        <option itemid="@state.StateID">@state.DistrictName</option>
                    }
                </select>
            </div>
          
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Terms and Condition
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary" id="lnkSignUp">Sign Up</button>
            </div>
        </form>
        

    </div>
</div>