@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BuyViewModel
<div class="row">
    @if (Model.DeliveryAddresses.Count > 0)
    {
        foreach(var address in Model.DeliveryAddresses)
        {
             <div class="col-sm-6 mb-3 mb-sm-0">
            <a href="#" >
                <div class="card mb-3">
                  
                    <div class="card-body">
                        <h5 class="card-title">@address.Address</h5>
                        <p class="card-text">@address.LandMark</p>
                        <p class="card-text">@address.MobileNumber</p>

                    </div>
                </div>
            </a>

        </div>
        }
       
       
    }
    else
    {
        <p>It seem's the user doesn't have any delivery address. <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Delivery address</a></p>
       

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Address</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="inputName">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Address</label>
                                    <input type="number" class="form-control" id="inputAge">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Mobile Number</label>
                                    <input type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">LandMark</label>
                                    <input type="password" class="form-control" id="inputPassword4">
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Address 2</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCity" class="form-label">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="col-md-4">
                                    <label for="inputState" class="form-label">State</label>
                                
                                </div>
                                <div class="col-md-4">
                                    <label for="inputDistrict" class="form-label">District</label>
                                 
                                    @* <select id="inputDistrict" class="form-select">
                                        <option selected>Choose...</option>
                                        @foreach (var state in Model.District)
                                        {
                                            <option itemid="@state.ID">@state.Name</option>
                                        }
                                    </select> *@
                                </div>
                              
                              
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary" id="lnkAddDeliveryAddress">Add Address</button>
                                </div>
                            </form>


                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    }
    


        <div class="col-sm-6 mb-3 mb-sm-0">
            <a href="#" id="lnkProductDescription" data-id="@Model.ProductViewModel.Sku">
                <div class="card mb-3">
                    <img src="@Model.ProductViewModel.Image" class="card-img-top" alt="..." style="height:14rem;width:14rem;">
                    <div class="card-body">
                    <h5 class="card-title">@Model.ProductViewModel.Name</h5>
                    <p class="card-text">@Model.ProductViewModel.Description</p>
                    <p class="card-text">Rs.@Model.ProductViewModel.Price</p>

                    </div>
                </div>
            </a>

        </div>
        <div>
            Estimated Delivery : 6th Nov2023
        </div>
    @if (Model.DeliveryAddresses.Count > 0)
    {
        <button type="button" class="btn btn-primary" id="lnkPlaceOrder" data-id="@Model.ProductViewModel.Sku" deliveryAddressID="@Model.DeliveryAddresses.FirstOrDefault().ID" data-estimatedDelivery="6th Nov2023">
            Place Order
        </button>
    }
    
            

</div>
